.container-fluid .portofolio {
    background-color:  rgb(54, 51, 51);
}
.container .card{
    margin-top: 30px;
    height: 240px;
}
.container .card button{
    height: 240px;
}
#footer{
    background-color: rgb(54, 51, 51);
    padding-top: 20px;
    padding-bottom: 20px;
}